@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    background-color: #DADFE8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    gap: 30px;
    padding: 20px 0vw 0;

}