.listagem {
    max-width: 200px;
}

.pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6B727A;
    color: #FFF;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 30px 0 0 30px;
    min-height: 65px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .15s ease-in-out;
}

.pokemon:hover {
    transform: scale(1.05);
}

.pokemon img {
    background-color: #0000002f;
    margin-left: 5px;
    width: 25%;
    border-radius: 50%;
    transition: .5s;
}

.pokemon span {
    /* padding-right: 20px; */
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80px;
}

.eletrico.ativo {
    background-color: #f8d030;
}

.grama.ativo {
    background-color: #09DC9B;
}

.fogo.ativo {
    background-color: #F08030;
}

.agua.ativo {
    background-color: #6890F0;
}

.fantasma.ativo {
    background-color: #493963;
}

.dragao.ativo {
    background-color: #7038F8;
}